.profile-button-container {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px;
    z-index: 1000;
}

.profile-button-container .hidden {
    display: none;
}

.profile-button-container .isActive {
    position: absolute;
    border: 1px solid #ddd;
    background-color: #ffffff;
    margin-right: 10px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    right: 10px;
    z-index: 1000;
}

.profile-button-container .dropdown-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.profile-button-container .dropdown-icon:hover {
    color: #ff5a5f;
}

.profile-button-container .dropdown-icon-small {
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s;
}

.profile-button-container .dropdown-icon-small:hover {
    color: #ff5a5f;
}

.profile-button-container .profile-dropdown {
    list-style-type: none;
    padding: 10px 10px;
    margin-top: 15px;
    left: -130px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid #ff5a5f
}

.profile-button-container .profile-dropdown li {
    width: 100%;
    padding: 10px 10px;
    font-weight: bold;
    color: white;
    background-color: #ff5a5f;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-button-container .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
}

.profile-button-container .buttons button {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff5a5f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-button-container .buttons button:hover {
    background-color: rgb(218, 218, 218);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.profile-button-container .profile-dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.profile-button-container .profile-dropdown li > * {
    display: inline-block;
}


.profile-button-container .profile-dropdown li,
.profile-button-container .profile-dropdown li * {
    box-sizing: border-box;
}
